@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
// FONTS
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
$inter: 'Inter', sans-serif;
$mont: 'Montserrat', sans-serif;
// FONT WEIGHT
$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold:800;
$font-black: 900;

// FONT SIZES
$headline: 3.5rem;
$title: 2.5rem;
$sub-title: 2rem;
$phrase: 1.25rem;
$body: 1rem;
$caption: .9rem;
$inlineCaption: .6rem;


// COLORS
$color__primary: #00CCFF;
$color__primary-dark: #00b8e6;
$color__secondary: #FF006A;
$color__secondary-dark: #D20051;
$color__light: #ffffff;
$color__dark: #344150;
$color__font: #5b708b;
$color__success: #00D748;
$color__warning: #FFCD00;
$color__error: #FF006A;
$color__background: #eaf2f5;

// GRID
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__bp-mx: 1440;
$grid__cols: 24;

$map-grid-props: (
        '': 0,
        '-sm': $grid__bp-sm,
        '-md': $grid__bp-md,
        '-lg': $grid__bp-lg,
        '-xl': $grid__bp-xl,
        '-mx': $grid__bp-mx
);